.main-footer {
    color: white;
    background-color: rgb(248, 248, 248);
    padding-top: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.3rem;
  }

  .py-3{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.3rem;
  }
  .my{
      background-color: rgb(231, 231, 231);
  }
  .my2{
      font-size: 1.2rem;
      color: white;
  }
  .my2i{
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
  }
  .my2i:hover{
      font-size: 1.2rem;
      color: rgb(20, 18, 145);
      text-decoration: none;
    }
    .my2fi{
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }
    .my2fi:hover{
        color: rgb(6, 32, 104);
      
      font-size: 1.2rem;
      text-decoration: none;
  }
